* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* 
==========
Navbar
==========

*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 2px solid black;
}

.nav-header {
  font-size: 2rem;
  text-align: center;
  /* add padding bottom */
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}
.nav-link-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.nav-link a {
  padding: 2rem;
  color: black;
  display: flex;
  border-bottom: 2px solid black;
}
.nav-link a:hover {
  background: grey;
  color: white;
}
